extends ../layout

block head
  title Mercado Libre
  link(rel='stylesheet', href=`/static/app/main.css`)

block content
   #app

block js
  script(src = `/static/app/main.bundle.js`)
  script(src = `/static/app/vendors~main.bundle.js`)
